body{
    background-image: url('./images/TrainTrack.jpg');
    background-repeat: repeat;
}

.jumbo-styling {
    background-image: url('./images/PassingTrain.jpg');
    background-size: 100% 100%;
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

#panel-heading-top-style {
    background-color: #bd3e43;
    color: white;
}
#panel-heading-bottom-style {
    background-color: rgb(41, 41, 222);
    color: white;
}