body{
    background-image: url('./images/TrainTrack.jpg');
    background-repeat: repeat;
}

.jumbo-styling {
    background-image: url('./images/PassingTrain.jpg');
    background-size: 100% 100%;
    color: white;
    font-family: 'Faster One', cursive;
    text-align: center;
}

#TopPanel {
    background-color: #D7B441;
    color: white;
}
#BottomPanel {
    background-color: #515460;
    color: white;
}